:root {
  --primary-color: #7A57FD;
  --title-color: #E5E5E5;
  --text-color: #f8f8f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
  height: max-content;
  ;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}
